.img--home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

}
.img--phrase {
    width: 100%;
    margin-bottom: 40px;
}
.img--conversation {
    width: 100%;
}
.about--me {
    display: flex;
}
.img--steph {
    margin: 0 auto;
    width: 85%;
}
@media (min-width:600px) {
    .img--phrase, .img--conversation   {
        width: 60%;
    }
}

@media (min-width:860px) {
    .img--home {
        flex-direction: row;
    }
    .img--phrase, .img--conversation   {
        width: 50%;
    }
}